body {
  background-image: linear-gradient(#336699, #d5ffa2);
}

h2{
  border-bottom: 1px dotted #d5ffa2;
  color: #996633;
  background-image: url("../images/lähiluonto_logo_2.png");
  background-size: 3%;
  background-repeat: no-repeat;
}

meter {
  background-color: #faffe3;

}

p.high {
  background-color: rgba(0,255,0, 0.3);
  /*border: 1px solid rgb(0,255,0);*/
  border-radius: 10px 25px 10px 25px;
  text-align: center;
}

em {
  padding: 3px;
  color: chocolate;
  border: 2px solid darkcyan;
}

.refet {
  font-style: oblique;
}

.otsikkotausta {
  padding-top: 10px;
  height: 250px;
  text-align: center;
}

.asia {
  font-family: "PoliteType", sans-serif;
  height: 600px;
}

.mygits {
  height: 600px;
}

.morecss {
  height: 300px;
}

#kappyra {
  width: 35%;
  alignment: center;
  background: transparent;
}

#this {
  border: 4px groove #ff0000;
  border-radius: 8%;
  padding: 3px 20px;
  background-color: rgba(255,0,0, 0.2);
}

#taulu {
  width: 35%;
  border: 15px groove saddlebrown;
  padding: 5px 5px 10px 5px;
}