body,h1,h2,h3,h4,h5,h6 {
  font-family: Roboto, Arial, sans-serif;
}

body {
  background-color: lightgray;
}

h1 {
  border-bottom: 2px dotted lightgrey;
  color: chocolate;
}

p.panelteksti {
  /*background-color: rgba(225,225,160, 0.2);*/
  /*color: chocolate;*/
  text-align: center;
}

em {
  padding: 3px;
  color: chocolate;
  border: 2px solid darkcyan;
}

.indexrefet {
  font-style: oblique;
}

.indexotsikkotausta {
  padding-top: 10px;
  height: auto;
  text-align: center;
}

.indexasia {
  height: auto;
}

.indexasia b {
  font-size: x-large;
}

#indexdemo {
  text-align: center;
}

#indexmyfullstack {
  width: 50%;
  text-align: center;
  background: transparent;
}

#indextaulusm {
  width: 25%;
  border: 15px groove saddlebrown;
  padding: 5px 5px 10px 5px;
}

#palottaululg {
  border: 25px groove saddlebrown;
  padding: 7px 7px 12px 7px;
}

#indexfooterlinks a {
  text-decoration: none;
}

#indexfooterlinks a:hover{
  color: chocolate;
}

#jsmatikkaajskuva:hover {
  opacity: 0.5;
}

