body,h1,h2,h3,h4,h5,h6 {
  font-family: Roboto, Arial, sans-serif;
}

body {
  /*background-image: linear-gradient(to bottom, white 40%, grey);*/
  background-color: lightgray;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  border-bottom: 2px dotted lightgrey;
  color: chocolate;
  background-image: url("../images/lähiluonto_logo_2.png");
  background-size: 3%;
  background-repeat: no-repeat;
  font-size: 64px;
}

p.panelteksti {
  background-color: rgba(225,225,160, 0.2);
  color: chocolate;
  text-align: center;
  font-size: x-large;
}

em {
  padding: 3px;
  color: chocolate;
  border: 2px solid darkcyan;
}

.refet {
  font-style: oblique;
}

.otsikkotausta {
  padding-top: 10px;
  height: auto;
  text-align: center;
}

.asia {
  height: auto;
}

.asia b {
  font-size: x-large;
}

#demo {
  text-align: center;
}

#myfullstack {
  width: 50%;
  text-align: center;
  background: transparent;
}

#taulusm {
  width: 25%;
  border: 15px groove saddlebrown;
  padding: 5px 5px 10px 5px;
}

#taululg {
  border: 25px groove saddlebrown;
  padding: 7px 7px 12px 7px;
}

#footerlinks a {
  text-decoration: none;
}

#footerlinks a:hover{
  color: chocolate;
}

